.b1 {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: auto;
    height: auto;
    background-color:rgb(255, 0, 0)
}

.b2 {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: middle;
    width: auto;
    height: auto;
    background-color: rgb(255, 0, 0);
}

.b3 {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: right;
    width: auto;
    height: auto;
    background-color: rgb(255, 0, 0);
}

body {
    background-color: lightblue;
  }

